.footer {
    width: 100%;
    height: 120px;
    margin-top: 80px;
    background-color: sandybrown;
    position: relative;
}

.footer_social {
    width: 100%;
    padding-top: 8px;
    gap: 20px;  
    display: flex;
    justify-content: center;
}

.footer_copyright {
    position: absolute;
    display: flex;
    bottom: 8px;
    justify-content: center;    
    width: 100%;
    text-align: center;
    color: white;
}
